VITE_MQTT_URL=amqps://ykmhctpq:aj_D4WmGyuhpBNRsobEQUas4Uvs8y-c7@gorilla.lmq.cloudamqp.com/ykmhctpq
VITE_RACE_ID=dev-race
VITE_CLIENT_ROLE=player
VITE_CLIENT_NAME=Practice Skipper
VITE_DEBUG_HUD=false
VITE_FIXED_WIND=false
VITE_BASELINE_WIND_DEG=360
VITE_TICK_RATE=10
VITE_HOST_FAILOVER_MS=4000

